[Unit]
Description=sausage-store-frontend

[Service]
User=ansible
AmbientCapabilities=CAP_NET_BIND_SERVICE

ExecStart=http-server /var/www-data/sausage-store-1.0.80343/public_html/ -p 443 --proxy http://10.128.0.149:8080
ExecReload=http-server /var/www-data/sausage-store-1.0.80343/public_html/ -p 443 --proxy http://10.128.0.149:8080
Restart=always

[Install]
WantedBy=multi-user.target
