[Unit]
Description=sausage-store

[Service]
User={{user.name}}
Restart=always
ExecStart=/usr/bin/java -Xrs \
-Dmyserver.basePath={{artifact.path}} \
-Dmyserver.bindAddr={{private_backend_ip}} \
-Dmyserver.bindPort={{service.private_backend_port}} \
-Dspring.datasource.url='' \
-Dspring.datasource.username='' \
-Dspring.datasource.password='' \
-jar {{artifact.path+artifact.name}}

[Install]
WantedBy=multi-user.target
